.mrwiggin_row {
  width: 100%;
}
.mrwiggin_row .portlet_add,
.mrwiggin_row .portletHeader,
.mrwiggin_row .managedPortlet {
  float: left;
  clear: right;
}


.mrwiggin_row .portlet_add ul {
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
  border-top: 1px solid white
}
.mrwiggin_row .portlet_add ul li {
  float: none;
  display: inline
  float: left;
  list-style: none;
  font: 12px Tahoma, Arial;
}
.mrwiggin_row .portlet_add ul li a {
  width: auto;
  background: #9F1B1B;
  display: block;
  background: #20548E;
  padding: 5px 12px;
  text-decoration: none;
  border-right: 1px solid white;
  width: 70px;
  color: #EAFFED;
  white-space: nowrap;
}
.mrwiggin_row .portlet_add ul li a:hover {
  background: #7F1616;
}

