
.portlets-manager-rendered {
  cursor: pointer;
  background: #fff;
  -moz-box-shadow:0 0 90px 5px #000; 
  -webkit-box-shadow: 0 0 90px #000; 
}
.portlets-manager,
.portlets-manager-addform {
  display: none;
  z-index: 10000; 
  background-color:#666; 
  width:675px;     
  min-height:200px; 
  border:5px solid #333; 
  padding: 1em;
  -moz-box-shadow:0 0 90px 5px #000; 
  -webkit-box-shadow: 0 0 90px #000; 
}
.portlets-manager .close,
.portlets-manager-addform .close {
  background:transparent url(++resource++mrwiggin/close.png) no-repeat right top; 
  position:absolute; 
  right:-15px; 
  top:-15px; 
  cursor:pointer; 
  height:35px; 
  width:35px; 
}







/*
.mrwiggin_row {
  width: 100% !important;
}
.mrwiggin_row  .portlet {
  float: left;
}

.mrwiggin_column {
  height: 100% !important;
}
.mrwiggin {
  min-height: 1em;
  border: 1px solid transparent !important;
  position: relative;
}
.mrwiggin:hover {
  border: 1px solid red !important;
}
.mrwiggin .portlets_actions {
  display: none;
  position: absolute;
  background:#bbb;
  display:none;
  position:absolute;
  width:100%;
  left:0;
  font-size: 80%;
}
.mrwiggin .portlets_actions div {
  width: auto;
}
.mrwiggin .portlets_actions .portlets_actions_inner {
  margin:0.5em;
}
.mrwiggin .portlets_actions .portlets_actions_inner .section {
  margin-bottom: 1em;
}
.mrwiggin .buttons {
  width: auto;
}
.mrwiggin .button_close,
.mrwiggin .buttons .button_add {
  background:#777777;
  border:1px solid #333333;
  display:inline-block;
  font-weight:bold;
  height:25px;
  line-height:25px;
  margin:auto;
  padding:0 10px;
  cursor: pointer;
}
.mrwiggin .buttons ul {
  display: none;
  position: absolute;
  width: 200px;
  background:#777777;
  border:1px solid #333333;
  top: 40px;
}
.mrwiggin .buttons li a {
  position: relative;
  display: block;
  color:#000;
  font-weight:bold;
  margin: 0.5em 1em;
}


dl.portlet,
.managedPortlet {
  margin-bottom:0 !important;
}
/*.mrwiggin_row .portlet_add,
.mrwiggin_row .portletHeader,
.mrwiggin_row .managedPortlet {
  float: left;
  clear: right;
}


.mrwiggin_row .portlet_add ul {
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
  border-top: 1px solid white
}
.mrwiggin_row .portlet_add ul li {
  float: none;
  display: inline
  float: left;
  list-style: none;
  font: 12px Tahoma, Arial;
}
.mrwiggin_row .portlet_add ul li a {
  width: auto;
  background: #9F1B1B;
  display: block;
  background: #20548E;
  padding: 5px 12px;
  text-decoration: none;
  border-right: 1px solid white;
  width: 70px;
  color: #EAFFED;
  white-space: nowrap;
}
.mrwiggin_row .portlet_add ul li a:hover {
  background: #7F1616;
}*/

