.mrwiggin_row {
  width: 100% !important;
}
.mrwiggin_column {
  height: 100% !important;
}
.mrwiggin {
  min-height: 1em;
}
.mrwiggin:hover {
  background: #eee;
}
.mrwiggin .portlets_actions {
  display: none;
  position: absolute;
  background:#bbb;
  display:none;
  position:absolute;
  width:100%;
  left:0;
}
.mrwiggin .portlets_actions .portlets_actions_inner {
  margin:0.5em;
}
.mrwiggin .portlets_actions .portlets_actions_inner .section {
  margin-bottom: 1em;
}
.mrwiggin .button_add {
}
.mrwiggin .button_add div {
  background:#777777;
  border:1px solid #333333;
  display:inline-block;
  font-weight:bold;
  height:25px;
  line-height:25px;
  margin:auto;
  padding:0 10px;
  cursor: pointer;
}
.mrwiggin .button_add ul {
  display: none;
  position: absolute;
  width: 200px;
  background:#777777;
  border:1px solid #333333;
  top: 40px;
}
.mrwiggin .button_add li a {
  position: relative;
  display: block;
  color:#000;
  font-weight:bold;
  margin: 0.5em 1em;
}

.managedPortlet {
  margin:0;
}

/*.mrwiggin_row .portlet_add,
.mrwiggin_row .portletHeader,
.mrwiggin_row .managedPortlet {
  float: left;
  clear: right;
}


.mrwiggin_row .portlet_add ul {
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
  border-top: 1px solid white
}
.mrwiggin_row .portlet_add ul li {
  float: none;
  display: inline
  float: left;
  list-style: none;
  font: 12px Tahoma, Arial;
}
.mrwiggin_row .portlet_add ul li a {
  width: auto;
  background: #9F1B1B;
  display: block;
  background: #20548E;
  padding: 5px 12px;
  text-decoration: none;
  border-right: 1px solid white;
  width: 70px;
  color: #EAFFED;
  white-space: nowrap;
}
.mrwiggin_row .portlet_add ul li a:hover {
  background: #7F1616;
}*/

